form{
    border: solid 2px;
    margin-left: 450px;
    margin-top: 80px;
    padding-left: 10px;
    width: 400px;
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
}
h1{
color: darkolivegreen;
text-align: center;
}
label{
    color: brown;
    font-size: 25px;
    font-weight: bold;
}
input{
    width: 300px;
    height: 30px;
    font-size: 20px;
}
button{
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: brown;
    border-radius: 10px;
}
p{
    color: brown;
    font-size: 20px;
}
